<% User.destroy_all %>
<% User.create(name: 'foo', email: 'foo@bar.commm') %>

<%= simple_form_for(Importer.new, url: csv_import_magic.importers_path) do |f| %>
  <%= f.input :importable_type, as: :hidden, input_html: { value: 'User' } %>
  <%= f.input :importable_id, as: :hidden, input_html: { value: User.first.id } %>
  <%= f.input :source, as: :hidden, input_html: { value: 'company' } %>

  <h1 class="modal-title"><%= t('csv_import_magic.views.importers.new.title') %></h1>

  <div>
    <p><strong><%= t('csv_import_magic.views.importers.new.description') %></strong>:</p>
    <%= f.input :attachment, as: :file, label: false, required: true %>
    <p><%= t('csv_import_magic.views.importers.new.hint').html_safe %></p>
  </div>

  <div>
    <%= f.submit t('csv_import_magic.views.importers.new.buttons.import'), class: 'btn green' %>
  </div>
<% end %>
