<h3 class='page-title'>
  <%= t('csv_import_magic.views.importers.show.title', model_translated: t("activemodel.models.#{@importer.source}.other")) %>
</h3>

<% if @importer.error.blank? %>
  <small><%= t('csv_import_magic.views.importers.show.success') %></small>
  <%= link_to t('csv_import_magic.views.importers.show.buttons.back'), '/', class: 'button button--primary' %>
<% else %>
  <small><%= @importer.error %></small>

  <% if @importer.attachment_error.present? %>
    <%= link_to t('csv_import_magic.views.importers.show.buttons.error_file'), @importer.attachment_error.url, class: 'button button--secondary' %>
  <% end %>

  <%= link_to t('csv_import_magic.views.importers.show.buttons.back'), '/', class: 'button button--primary' %>
<% end %>
